@import "./responsive.scss";

.layout{
    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @include lg{
        background-color: rgb(230, 175, 154);
        max-width: 1280px
    }

    @include md{
        background-color: rgb(145, 171, 219);
        max-width: 768px
    }

    @include sm{
        background-color: rgb(226, 94, 94);
        max-width: 640px
    }
} 

